{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Hi</h1>
</div>

<div class="row">
    <!-- <h1>Special thanks to </h1> -->
    <div class="col-md-4">
        <h1>Django</h1>
        <p>Django is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://www.djangoproject.com/" class="btn btn-default">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>pypi.org</h2>
        <p>The Python Package Index is a repository of software for the Python programming language.</p>
        <p><a class="btn btn-default" href="https://pypi.org/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>apinfo.ru</h2>
        <p>For the base of airports.</p>
        <p><a class="btn btn-default" href="http://apinfo.ru">Learn more &raquo;</a></p>
    </div>
</div>

{% endblock %}
