{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1> Всем привет. Это должен был быть сайт, который показывает сумму перелета и проживания в стране, но в современном корыстном мире это оказалось не такой простой задачей...
         И за неделю до сдачи я решил изменить концепцию :)
    </h1>
</div>

<h2>Special thanks to </h2> 

<div class="row">
    <div class="col-md-3">
        <h2>learnpython </h2>
        <p>Было весело</p>
        <p><a class="btn btn-default" href="https://learn.python.ru/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>apinfo.ru</h2>
        <p>За базу с аэропортами, может быть еще пригодиться.</p>
        <p><a class="btn btn-default" href="http://apinfo.ru">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Django</h2>
        <p>Научил меня, что не стоит есть слона целиком</p>
        <p><a href="https://www.djangoproject.com/" class="btn btn-default">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>pypi.org</h2>
        <p>Без библиотек умных людей, ничего бы этого не было</p>
        <p><a class="btn btn-default" href="https://pypi.org/">Learn more &raquo;</a></p>
    </div>
    
</div>

{% endblock %}
