{% extends "app/layout.html" %}
   
{% block content %}
         <div class="row">
                
                <div class="col-md-8 order-md-1">
                  <h4 class="mb-3">Куда едем?</h4>                                  

                    <div class="row">
                      <div class="col-md-5 mb-3">
                        <label for="country">Страна</label>
                        <select class="custom-select d-block w-100" id="country" required>
                          <option value="">Choose...</option>
                          <option>Russia</option>
                        </select>
                        <div class="invalid-feedback">
                          Выберите страну.
                        </div>
                      </div>
                      <div class="col-md-4 mb-3">
                        <label for="city">Город</label>
                        <select class="custom-select d-block w-100" id="city" required>
                          <option value="">Choose...</option>
                          <option>Moscow</option>
                        </select>
                        <div class="invalid-feedback">
                          Выберите город.
                        </div>
                      </div>
                      
                    </div>
                    <hr class="mb-4">
                    
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="save-info">
                      <label class="custom-control-label" for="save-info">Сохранить критерии поиска</label>
                    </div>
                    <hr class="mb-4">

                    <h4 class="mb-3">Диапазон цен</h4>

                    <div class="d-block my-3">
                      <div class="custom-control custom-radio">
                        <input id="high" name="rangeMethod" type="radio" class="custom-control-input" checked="" required="">
                        <label class="custom-control-label" for="high">Дорого богато</label>
                      </div>
                      <div class="custom-control custom-radio">
                        <input id="low" name="rangeMethod" type="radio" class="custom-control-input" required="">
                        <label class="custom-control-label" for="low">Лишь бы не на улице</label>
                      </div>
                      <div class="custom-control custom-radio">
                        <input id="medium" name="rangeMethod" type="radio" class="custom-control-input" required="">
                        <label class="custom-control-label" for="medium">Как все</label>
                      </div>
                    </div>
                                
                    <hr class="mb-4">
                    <button class="btn btn-primary btn-lg btn-block" type="submit">Искать</button>
                 
                </div>
            </div>
{% endblock %}

{% block table %}
    <table>
    <th>Наименование отеля</th>
    <th>Адрес</th>
    <th>id</th>

    {% for hotel in hotels %}
        <tr>
        <td>{{hotel.name}}</td> 
        <td>{{hotel.vicinity}}</td>
        <td>{{hotel.place_id}}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}