{% extends "app/layout.html" %}

{% load bootstrap4 %}
   
{% block content %}
<form action="" method="POST">  
    
    {% csrf_token %}

    <div class="row">
        <div class="col-md-6 order-md-2 mb-4">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted"> План </span>
            </h4>
            <ul class="list-group">
                {% for number_str, plan_details in plan.items %}
                <li class="list-group-item">
                    <dl class="row"> 
                        <dt class="col-sm-5">                        
                            <input type="text" id="date" value="{{number_str}}">                      
                        </dt>
                        <dd class="col-sm-7">
                            <h5>{{plan_details.city}}</h5>
                        </dd>           
                    </dl> 
                    <!--<hr class="mb-3"> -->   
                    <table class="table table-bordered">
                        <thead>    
                            <th>#</th>    
                            <th>Наименование</th>
                            <th>Адрес</th>
                        </thead>
                        <tbody>
                            <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            </tr>
                        </tbody>        
                    </table>

                    <label for="formGroupExampleInput">Заметка</label>
                    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="">     
                </li>
                {% endfor %}
            </ul>
        </div>    
        <div class="col-md-6 order-md-1">
            <h4 class="mb-3">Куда путь держим?</h4>                                  
                <div class="row">
                    <div class="col-md-5 mb-3">
                       <!-- <label for="country">Страна</label>
                        <select class="custom-select d-block w-100" id="country" required>
                          <option value="">Choose...</option>
                          <option>Russia</option>
                        </select>
                        <div class="invalid-feedback">
                          Выберите страну.
                        </div> -->
                         
                        {% bootstrap_field form.country %}
                        
                    </div>
                    <div class="col-md-5 mb-3">
                       <!-- <label for="city">Город</label>
                        <select class="custom-select d-block w-100" id="city" required>
                          <option value="">Choose...</option>
                          <option>Moscow</option>
                        </select>
                        <div class="invalid-feedback">
                          Выберите город.
                        </div> -->

                         {% bootstrap_field form.city %}

                    </div>                      
                </div>                   
            <hr class="mb-4">                  
                <div class="row">
                    <div class="col-md-5 mb-3">
                    <p>
                        <label for="my_date">Дата</label>
                        <!-- <input type="date" id="my_date">  -->
                    </p>
                    <p>
                        {{ form.my_date }}                     
                    </p>                    
                    </div>

                    <div class="col-md-4 mb-3">
                      <!--  <h4 class="mb-3">Места</h4>
                        <div class="d-block my-3">
                            <div class="custom-control custom-radio">
                              <input id="otel" name="rangeMethod" type="radio" class="custom-control-input" checked="" required="">
                              <label class="custom-control-label" for="otel">Отели</label>
                            </div>
                            <div class="custom-control custom-radio">
                              <input id="musem" name="rangeMethod" type="radio" class="custom-control-input" required="">
                              <label class="custom-control-label" for="musem">Музеи</label>
                            </div>
                            <div class="custom-control custom-radio">
                              <input id="park" name="rangeMethod" type="radio" class="custom-control-input" required="">
                              <label class="custom-control-label" for="park">Парки</label>
                            </div>
                            <div class="custom-control custom-radio">
                              <input id="shop" name="rangeMethod" type="radio" class="custom-control-input" required="">
                              <label class="custom-control-label" for="shop">Магазины</label>
                            </div>
                        </div> -->
                      
                        {% bootstrap_field form.choice_field %}
                        
                    </div>
                </div>
                 
               <!-- {% if hotels %}   
                 {% bootstrap_form form %}
                {% endif %} -->

                <button class="btn btn-primary btn-lg btn-block" type="submit">Искать</button>  
                     
                {% if hotels %}   

                <!-- <table class="table table-sm">
                <thead>    
                <th>#</th>    
                <th>Наименование</th>
                <th>Адрес</th>
                </thead>

                {% for number_str, hotel in hotels.items %}
                    <tbody>
                    <tr>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id={{number_str}}>
                            <label class="custom-control-label" for={{number_str}}> {{number_str}} </label>
                         </div>
                    </td>    
                    <td>{{hotel.name}}</td> 
                    <td>{{hotel.vicinity}}</td> 
                    </tr>
                    </tbody>
                {% endfor %}
                </table> -->

                {% load django_tables2 %}
                {% render_table table %}    

                <button class="btn btn-primary btn-lg btn-block" type="submit" name="action" value="done">Внести в план</button>
                {% endif %}
                  
        </div>
    </div>
</form>    
{% endblock %}

{% block table %}
  
{% endblock %}